

.background-image-svg(@svg, @fallback) {
	background-image: url(@fallback);
	background-image: -webkit-linear-gradient(transparent, transparent), e('/* @embed */') url(@svg);
	background-image: linear-gradient(transparent, transparent), e('/* @embed */') url(@svg);
	// Do not serve SVG to Opera 12, bad rendering with border-radius or background-size (T87504)
	background-image: -o-linear-gradient(transparent, transparent), url(@fallback);
}

// External links
.mw-body {
	.external {
		background-position: center right;
		background-repeat: no-repeat;
		.background-image-svg('images/external-link-ltr-icon.svg', 'images/external-link-ltr-icon.png');
		padding-right: 13px;
	}
}
