@CHARSET "UTF-8";

* {
  margin: 0;
}

html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color:#ffffff;
}

section {
  position: relative;
  height: 100%;
  width: 100%;
  height: auto !important;
}

#section {
	min-height: 100%;
	
}

.footer-links a {
  color: white;
 
}

#footer {

}

.footer, .push {
    height: 120px; /* .push must be the same height as .footer */
}

@media (max-width: 700px) {
    /* CSS stuff */
    .footer, .push {
    	height: 160px; /* .push must be the same height as .footer */
    }
}

@media (max-width: 500px) {
    /* CSS stuff */
    .footer, .push {
    	height: 210px; /* .push must be the same height as .footer */
    }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;	
   //background-color: $bgFooter;
   background: #5A5A5A;
   color: white;
   clear:both;
}