@CHARSET "UTF-8";

.navbar { 
    background-image: none;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nexus {
  background-color: #260434;
  border-color: #A1869F;
}
.navbar-nexus .navbar-brand {
  color: #ecf0f1;
}
.navbar-nexus .navbar-brand:hover, .navbar-nexus .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-nexus .navbar-text {
  color: #ecf0f1;
}
.navbar-nexus .navbar-nav {
  color: #ecf0f1;
}
.navbar-nexus .navbar-nav:hover, .navbar-nexus .navbar-nav:focus {
  color: #ecdbff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }

/*
 * Menu item hover color
 */
.navbar-nexus .navbar-nav > .active > a, 
.navbar-nexus .navbar-nav > .active > a:hover, 
.navbar-nexus .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #6c1e6c;
}
.navbar-nexus .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-nexus .navbar-nav > li > a:hover, 
.navbar-nexus .navbar-nav > li > a:focus {
  background-color: #6c1e6c;
  color: #ecdbff;
}
.navbar-nexus .navbar-nav > li > .dropdown-menu {
  background-color: #3f0058;
}
.navbar-nexus .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-nexus .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-nexus .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #920087;
}
.navbar-nexus .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #3f0058;
}
.navbar-nexus .navbar-nav > .active > a, 
.navbar-nexus .navbar-nav > .active > a:hover, 
.navbar-nexus .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #920087;
}
.navbar-nexus .navbar-nav > .open > a, .navbar-nexus .navbar-nav > .open > a:hover, .navbar-nexus .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #920087;
}
.navbar-nexus .navbar-toggle {
  border-color: #920087;
}
.navbar-nexus .navbar-toggle:hover, .navbar-nexus .navbar-toggle:focus {
  background-color: #920087;
}
.navbar-nexus .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-nexus .navbar-collapse,
.navbar-nexus .navbar-form {
  border-color: #ecf0f1;
}
.navbar-nexus .navbar-link {
  color: #ecf0f1;
}
.navbar-nexus .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-nexus .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-nexus .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nexus .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-nexus .navbar-nav .open .dropdown-menu > .active > a, .navbar-nexus .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-nexus .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #2b1235;
  }
}