@CHARSET "UTF-8";

#mw-page {
	height: 100%;
	width: 100%;
	background-color: #fff;
	background-image: url(images/wiki-bg.jpg);
	background-repeat: repeat-x;
}

.mw-body {
  padding-top: 48px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.mw-body .external {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url('images/external-link-ltr-icon.png');
  background-image: -webkit-linear-gradient(transparent, transparent), /* @embed */ url('images/external-link-ltr-icon.svg');
  background-image: linear-gradient(transparent, transparent), /* @embed */ url('images/external-link-ltr-icon.svg');
  background-image: -o-linear-gradient(transparent, transparent), url('images/external-link-ltr-icon.png');
  padding-right: 13px;
}

.footer
 {
   margin: auto; 
   padding-bottom: 20px;
   padding-left: 50px;
}

.footer .row {
	margin: 0 auto; 
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer ul {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  text-align: -webkit-match-parent;
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: #333;
}

.footer #footer-info {
	padding-top: 20px;
	padding-bottom: 2px;
	padding-left: 30px;	
}

.footer #footer-info ul {
  display: list-item;
  font-size: 0.7em;
}
.footer #footer-info li {
  line-height: 1.4em;
  word-wrap: break-word;
  font-size: 0.8em;
}

.footer #footer-places {
  line-height: 1.6em;
  padding-top: 16px;
  padding-bottom: 32px;
}

.footer-links,
.footer-links a {
  font-size: 15px;
  line-height: 1.3333;
  font-weight: 400; 
  color: #424242;  
}

/* mobile version */
@media (max-width: 978px) {
	.navbar { 
	    padding-left: 10px;
	    padding-right: 10px;
	}
	
	.mw-body {
		height: 100%;
		min-height: 100%;
	}
	
	.mw-body {
		padding-top: 9px;
	}

    .container {
      margin: 0 auto;
      height: 100%;
    }
    
    #bodyContent {
      padding-top: 5px;
    }
    
    .footer {
      //padding-left: 10px;
    }
    
	.footer #footer-info {
		padding-top: 20px;
		padding-bottom: 10px;
		padding-left: 0px;	
	}    
}
