
body {
	background-color: #f4e1f4;
	//background-image: url(images/wiki-bg.jpg);
	//background-repeat: repeat-x;
	//background-position: center 80px;
	//color: #222;
	//padding-top: 128px;
}

body.page-Main_Page .page-header,
body.page-Category_Oracle .page-header,
body.page-Category_JavaScript .page-header,
body.page-Category_HTML .page-header,
body.page-Category_PHP .page-header,
body.page-Category_PL_SQL .page-header,
body.page-Category_CSS .page-header { display: none; }

textarea {
	width: 95%;
}

.category-links {
	clear: both;
}

.mw-headline {
	text-shadow: 1px 1px 0 rgb(255,255,255);
}

h2 .mw-headline { font-size: 18px; }
h3 .mw-headline { font-size: 16px; }
h4 .mw-headline { font-size: 14px; }
h5 .mw-headline { font-size: 12px; }
h6 .mw-headline { font-size: 12px; }

p {
	margin-bottom: 15px;
}

.mw-content-ltr ul, .mw-content-ltr ol {
	margin-bottom: 9px;
}

.navbar-brand {
    text-align: center;
    margin-top: -5px;
}

.navbar-brand img {
	margin-right: 0.5em;
	max-height: 30px;
	//padding-top: -30px;
}

.navbar input {
	background-color: #555;
	border-color: #111;
	color: #aaa;
	margin-bottom: 0;
}

.navbar .navbar-inner .btn {
	margin-top: 0;
}

.nav > li > a {
	padding: 15px;
}

.editsection {
	float: right;
	font-size: 0.8rem;
	opacity: 0.2;
}

.editOptions .checkbox input:first-child {
	margin-left: -20px;
}

.jumbotron {
	position: relative;
}

.jumbotron h1 img {
	border: 1px solid #eee;
	-webkit-box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3 );
	-moz-box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.3 );
	position: relative;
	top: -6px;
}

.jumbotron .nav-pills {
	opacity: 0.2;
	position: absolute;
	top: 10px;
	right: 10px;
}

.jumbotron .nav-pills:hover {
	opacity: 0.8;
}

h2:hover .editsection,
h3:hover .editsection,
h4:hover .editsection,
h5:hover .editsection,
h6:hover .editsection {
	opacity: 1;
}

option.unclickable {
	color: #ccc;
}

#subnav-select {
	display: none;
}

.nav .user-icon {
	border: 1px solid rgba( 55, 55, 55, 0.1 );
	display: inline-block;
	margin-right: 0.5em;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.nav .user-icon img {
	border: 1px solid rgba( 0, 0, 0, 0.5 );
	width: 20px;
	height: 20px;
}

#wiki-body h2 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.5em;
}

#wiki-body h3 {
	border-bottom: 1px dotted #eee;
	color: #555;
	margin-bottom: 0.5em;
}

#wiki-body li {
	margin-bottom: 5px;
}

#mw-content-text .center {
	text-align: center;
}

#mw-content-text .floatright {
	margin-left: 1.5rem;
	margin-bottom: 1.5rem;
}

#mw-content-text .floatleft {
	margin-right: 1.5rem;
	margin-bottom: 1.5rem;
}

#page-contents ul li { list-style: none; }
#page-contents .dropdown-menu {
	left: auto;
	max-height: 400px;
	overflow: scroll;
	overflow-y: scroll;
	right: 0;
}
#page-contents .dropdown-menu {
}

.page-header .nav i {
	opacity: 0.3;
}

.nav-collapse.in {
	height: auto !important;
}

#toc:not(.toc-sidebar) {
	display: none;
	float: right;
	margin: 0 0 1em 1em;
}

#toc td {
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 0.5em;
	display: block;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	padding: 0 1em 1em 1em;

	box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.2 );
}

#toc.toc-sidebar td {
	background: transparent;
	border: none;
	box-shadow: none;
	display: table-cell;
	padding: 0;
}

#toc.toc-sidebar li {
	line-height: 20px;
	list-style-type: none;
}

#toc.toc-sidebar li li {
	margin-left: 20px;
}

#toc.toc-sidebar h3 {
	font-size: 1em;
}

.toc-sidebar .toctoggle {
	display: none;
}

#toctitle h2 {
	font-size: 16px;
}

a.new {
	color: #86100f;
}

#catlinks {
	border-top: 1px dotted #eee;
	margin-top: 2em;
	padding: 1em 0;
}

#catlinks #mw-normal-catlinks > a {
	color: #999;
}

#catlinks li {
	border-left: 1px solid #ddd;
}

#catlinks li:first-child {
	border-left: none;
}

.bottom {
	background: #f5f5f5;
	margin-top: 1em;
	padding-bottom: 2em;
	padding-top: 2em;
}

.bottom .mw-editsection {
	display: none;
}

.bottom footer {
	color: #999;
	margin-top: 2em;
}

.printfooter { display: none;}

/* thumb, copied from vector */
div.thumb {
	margin-bottom: .5em;
	width: auto;
	background-color: transparent;
}
div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
/* @noflip */
div.tright {
	clear: right;
	float: right;
	margin: .5em 0 1.3em 1.4em;
}
/* @noflip */
div.tleft {
	float: left;
	clear: left;
	margin: .5em 1.4em 1.3em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}

.brand img {
	margin-top: -5px;
	display: inline-block;
	vertical-align: middle;
}

.navbar-fixed-top .navbar-inner {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar input {
	background-color: #f5f5f5;
	border-color: #ccc;
	color: #333;
}

/* Subnav */
.subnav {
	background: #eee;
	border-bottom: 1px solid #f5f5f5;
  width: 100%;
  height: 50;
	margin-top: 2px;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	   -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	        box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	border-color: #d5d5d5;
	border-width: 0 0 1px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@media (max-width: 767px) {
	body {
		padding-left: 0;
		padding-right: 0;
		//padding-top: 59px;
	}

	.bottom,
	#mw-page {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.mw-body {
		padding-top: 59px;
	}

	.navbar {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 979px) {
	body {
		//padding-top: 59px;
	}

	#mw-page {
		//margin-top: 10px;
		margin: 0 auto;
	}
	
	.mw-body {
		padding-top: 59px;
	}
}

.subnav .container .nav {
  margin-bottom: 0;
}

.subnav .nav > li > a {
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
	text-decoration: none;
	color: #333;
  margin: 0;
  padding-top:    16px;
  padding-bottom: 16px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.subnav .nav > li > a:hover,
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  color: #333;
  background-color: #ddd;
  border-right-color: transparent;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav-tabs .dropdown-toggle .caret, 
.subnav .nav-pills .dropdown-toggle .caret {
	border-top-color: #000;
}

.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #000;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.subnav .nav-tabs .open .dropdown-toggle, 
.subnav .nav-pills .open .dropdown-toggle, 
.subnav .nav > .open.active > a:hover {
	color: #333;
	background-color: #ddd;
	border-color: #ddd;
}

pre.linenums ol {
	margin-bottom: 0;
}

#mw-page {
	/*background: url(images/body-bg.png) center top repeat-y;*/
	height: 100%;
	width: 100%;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
.subnav-fixed {
	position: fixed;
	top: 49px;
	left: 0;
	right: 0;
	z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
	border-color: #d5d5d5;
	border-width: 0 0 1px; /* drop the border on the fixed edges */
	-webkit-border-radius: 0;
		 -moz-border-radius: 0;
					border-radius: 0;
}
.subnav-fixed .nav {
	width: 1170px;
	margin: 0 auto;
	margin-left: -12px;
	padding: 0 1px;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
	-webkit-border-radius: 0;
		 -moz-border-radius: 0;
					border-radius: 0;
}

@media (max-width: 979px) {
	body { 
		//padding-top: 103px; 
	}

	.mw-headline {
		margin-top: -103px;
		padding-top: 103px;
	}

	.subnav #subnav-select {
		margin-left: 20px;
		display: inline-block;
	}

	.subnav .nav {
		display: none;
	}

	.navbar-form,
	.navbar-search {
		margin-bottom: 0;
	}

	.nabar-inner,
	.navbar-fixed-top {
		margin-bottom: 0;
	}

	.navbar-inner {
		padding-bottom: 0;
	}

	.subnav .container {
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
}

/* responsive */
@media (max-width: 480px) {

	#toc {
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.jumbotron {
		padding: 2em;
	}

	.jumbotron p {
		font-size: 1em;
		line-height: 1.5em;
	}

	.jumbotron h1 {
		font-size: 1.5em;
	}

	.jumbotron pre {
		display: none;
	}
}

table.list th {
	background: #eee;
}

.info-box {
	clear: right;
	color: #000;
	background-color: #ccc;
	border-spacing: 0;
	border: 1px solid #999;
	-webkit-border-top-left-radius: 4px;
	   -moz-border-radius-topleft: 4px;
	        border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	   -moz-border-radius-topright: 4px;
	        border-top-right-radius: 4px;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.2 );
	font-size: 14px;
	margin-top: -1.4em;
	margin: 0 0 1em 1em;
	padding: 3px;
	padding: 0;
	position: relative;
	width: 250px;
	z-index: 100;
}

.info-box td {
	line-height: normal;
	padding: 5px;
	vertical-align: middle;
}

.info-box td p {
	display: table-cell;
	vertical-align: middle;
}

.info-box .info-image {
	background: #eee;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	color: #000;
	font-size: smaller;
	text-align: center;
}

.info-box .info-name {
	background-color: #eee;
	border-top: 1px solid #999;
	border-left: #999;
	border-right: #999;
	color: #000;
	font-size: larger;
	font-variant: small-caps;
	text-align: center;
}

.info-box .info {
	background-color: #ccc;
	border-top: 1px solid #999;
	color: #000;
	font-size: 8pt;
	text-align: center;
}

.info-box .info-label {
	background: #eee;
	padding-left: 6px;
	padding-right: 6px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	color: #000;
	font-size: smaller;
	line-height: normal;
}

.info-box .info-value {
	background: #fff;
	padding-left: 6px;
	padding-right: 6px;
	border-top: 1px solid #999;
	color: #000;
	font-size: smaller;
}

.info-box.quest .info-name {
	background-color: #CECF86;
	border-color: #8A895F;
}

.info-box.weapon .info-name {
	background-color: #e8c5c5;
}

.list {
  width: auto;
  margin-bottom: 20px;
}

.list th,
.list td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.list th {
  font-weight: bold;
}

.list thead th {
  vertical-align: bottom;
}

.list caption + thead tr:first-child th,
.list caption + thead tr:first-child td,
.list colgroup + thead tr:first-child th,
.list colgroup + thead tr:first-child td,
.list thead:first-child tr:first-child th,
.list thead:first-child tr:first-child td {
  border-top: 0;
}

.list tbody + tbody {
  border-top: 2px solid #dddddd;
}

.list .list {
  background-color: #ffffff;
}

.list {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.list th,
.list td {
  border-left: 1px solid #dddddd;
}

.list caption + thead tr:first-child th,
.list caption + tbody tr:first-child th,
.list caption + tbody tr:first-child td,
.list colgroup + thead tr:first-child th,
.list colgroup + tbody tr:first-child th,
.list colgroup + tbody tr:first-child td,
.list thead:first-child tr:first-child th,
.list tbody:first-child tr:first-child th,
.list tbody:first-child tr:first-child td {
  border-top: 0;
}

.list thead:first-child tr:first-child > th:first-child,
.list tbody:first-child tr:first-child > td:first-child,
.list tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.list thead:first-child tr:first-child > th:last-child,
.list tbody:first-child tr:first-child > td:last-child,
.list tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.list thead:last-child tr:last-child > th:first-child,
.list tbody:last-child tr:last-child > td:first-child,
.list tbody:last-child tr:last-child > th:first-child,
.list tfoot:last-child tr:last-child > td:first-child,
.list tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.list thead:last-child tr:last-child > th:last-child,
.list tbody:last-child tr:last-child > td:last-child,
.list tbody:last-child tr:last-child > th:last-child,
.list tfoot:last-child tr:last-child > td:last-child,
.list tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.list tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.list tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.list caption + thead tr:first-child th:first-child,
.list caption + tbody tr:first-child td:first-child,
.list colgroup + thead tr:first-child th:first-child,
.list colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.list caption + thead tr:first-child th:last-child,
.list caption + tbody tr:first-child td:last-child,
.list colgroup + thead tr:first-child th:last-child,
.list colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.list tbody > tr:nth-child(even) > td {
  background-color: #fff;
}

.list tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}
